# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Cruft
.DS_STORE

# Dependency directories
node_modules

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Web
web/build

# Server
server/public
server/tmp
server/data/**/*.json
server/data/**/*.png
server/data/**/*.jpg
server/data/**/*.jpeg
server/data/**/*.gif

# Other
server/data/development_old